/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.twoMonthView {
  display: flex;
  flex-flow: row nowrap;
}

.singleMonthView, .first-pikaday, .second-pikaday {
  width: 300px;
  border: 1px solid;
}

.second-pikaday {
  border-left: 0; 
}

.sunny-days--currentMonth {
  padding: 0.5rem 0.625rem 0.625rem;
  border-bottom: 1px solid;
}

.sunny-days--nameofmonth {
  text-align: center;
}

.sunny-days--nameofmonth > span {
  cursor: pointer;
}

.prev {
  float: left;
  text-align: left;
  cursor: pointer;
}

.next {
  float: right;
  text-align: right;
  cursor: pointer;
}

.sunny-days--daysofweek {
  display: flex;
  flex-flow: row nowrap;
}

.sunny-days--nameofday {
  width: 14.28%;
  padding: 0.5rem 0.625rem 0.625rem;
  text-align: center;
}

.sunny-days--days {
  display: flex;
  flex-flow: row wrap;
}

.sunny-day {
  width: 14.28%;
  padding: 0.5rem 0.625rem 0.625rem;
  text-align: center;
  cursor: pointer;
}

.sunny-months, .sunny-years {
  display: flex;
  flex-flow: row wrap;
}

.sunny-month, .sunny-year {
  width: 33.33%;
  padding: 0.5rem 0.625rem 0.625rem;
  text-align: center;
  cursor: pointer;
}